{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Vizualizare sarcină</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <p><strong>Titlu:</strong> {{ recipe.title }}</p>
                <p><strong>Descriere:</strong> {{ recipe.description }}</p>
                <p><strong>Data limită:</strong> {{ recipe.dueDate|date('Y-m-d') }}</p>
                <p><strong>Data creării:</strong> {{ recipe.createdAt|date('Y-m-d H:i:s') }}</p>
                <p><strong>Categorie:</strong> {{ recipe.categoryId.name }}</p>
                <a href="/recipelist" class="btn btn-danger">Inapoi la lista</a>
            </div>
        </div>
    </div>
{% endblock %}


